* {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    text-decoration: none;
    border         : none;
    outline        : none;
    scroll-behavior: smooth;
    font-family    : "poppins", sans-serif;
}

.progress1 {
    position       : relative;
    justify-content: center;
    align-items    : center;
    display        : flex;
    flex-wrap      : wrap;
    gap            : 20px;
    background     : #021932;
    padding        : 40px;

}

.progress1 .card1 {
    position       : relative;
    width          : 220px;
    height         : 170px;
    justify-content: center;
    align-items    : center;
    display        : flex;

}

.progress1 .card1 .percent1 {
    position             : relative;
    width                : 150px;
    height               : 150px;
    background           : #081D35;
    border-radius        : 100px;
    box-shadow           : 5px 3px 8px 5px rgba(0, 0, 0, 0.5), inset 2px 3px 5px 3px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 100px;
    -moz-border-radius   : 100px;
    -ms-border-radius    : 100px;
    -o-border-radius     : 100px;
}

.progress1 .card1 .percent1 svg {
    position         : relative;
    width            : 150px;
    height           : 150px;
    transform        : rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform   : rotate(270deg);
    -ms-transform    : rotate(270deg);
    -o-transform     : rotate(270deg);
}

.progress1 .card1 .percent1 svg circle {
    width            : 100%;
    height           : 100%;
    fill             : transparent;
    stroke-width     : 2;
    stroke           : #0A2D55;
    transform        : translate(5px, 5px);
    -webkit-transform: translate(5px, 5px);
    -moz-transform   : translate(5px, 5px);
    -ms-transform    : translate(5px, 5px);
    -o-transform     : translate(5px, 5px);
}

.progress1 .card1 .percent1 svg circle:nth-child(2) {
    stroke           : var(--clr);
    stroke-dasharray : 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) /100);
    opacity          : 0;
    animation        : fadeIn 1s linear forwards;
    animation-delay  : 2.5s;
    -webkit-animation: fadeIn 1s linear forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.dot1 {
    position         : absolute;
    inset            : 5px;
    z-index          : 10;
    transform        : rotate(calc(3.6deg * var(--num)));
    /*360deg/100=3.6*/
    animation        : animateDot 2s linear forwards;
   
}

@keyframes animateDot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(calc(3.6deg * var(--num)));

    }
}

.dot1::before {
    content      : '';
    position     : absolute;
    top          : -5px;
    left         : 50%;
    transform    : translateX(-50%);
    width        : 10px;
    height       : 10px;
    border-radius: 50%;
    background   : var(--clr);
    box-shadow   : 0 0 10px var(--clr), 0 0 30px var(--clr);

}

.number1 {
    position       : absolute;
    inset          : 0;
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    opacity        : 0;
    animation      : fadeIn 1s linear forwards;
    animation-delay: 2.5s;

}

.number1 h2 {
    display        : flex;
    justify-content: center;
    align-items    : center;
    color          : #fff;
    font-weight    : 700;
    font-size      : 2.6em;
}

.number1 h2 span {
    font-weight: 300;
    color      : #fff;
    font-size  : 0.5em;
}

.number1 p {
    font-weight   : 300;
    font-size     : 0.75em;
    line-height   : 2px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color         : rgb(255, 255, 255, 0.75);
}

.hero{
    margin-top: 0;
    background: #021932;
    color: #fff;
    padding-top: 7.57rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.70rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #021932;
    z-index: 100;
}
.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    float: left;
    cursor: default;
    margin-left: -75px;
}
.navbar a{
    font-size: 1.08rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    margin-left: 1.5rem;
    text-decoration: none;
    text-transform: 3s;
}
.navbar a:hover,.navbar a .active{
    color: #007496;
}

.top1{
    color: #059297;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.20rem;
}
.top2{
    font-size: 2.79rem;
    font-family: 'Times New Roman', Times, serif;
    line-height: 3.5rem;
    color: #e7e3e3;
}
.top3{
    padding-top: 5px;
    color: #bebebe;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}