@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;00&family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    text-decoration: none;
    border         : none;
    outline        : none;
    scroll-behavior: smooth;
    font-family    : "poppins", sans-serif;
}

.progress2 {
    background    : #021932;
    padding-top   : 50px;
    padding-bottom: 70px;
}

.progress-title {
    color    : #fff;
    font-size: 1.50rem;
}

.progress-text {
    color: #ffffffd2;
}

.progress1 {
    position       : relative;
    justify-content: center;
    align-items    : center;
    display        : flex;
    flex-wrap      : wrap;
    gap            : 20px;
    padding        : 5px;

}

.progress1 .card1 {
    position       : relative;
    width          : 200px;
    height         : 150px;
    justify-content: center;
    align-items    : center;
    display        : flex;

}

.progress1 .card1 .percent1 {
    position             : relative;
    width                : 150px;
    height               : 150px;
    background           : #081D35;
    border-radius        : 100px;
    box-shadow           : 5px 3px 8px 5px rgba(0, 0, 0, 0.5), inset 2px 3px 5px 3px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 100px;
    -moz-border-radius   : 100px;
    -ms-border-radius    : 100px;
    -o-border-radius     : 100px;
}

.progress1 .card1 .percent1 svg {
    position         : relative;
    width            : 150px;
    height           : 150px;
    transform        : rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform   : rotate(270deg);
    -ms-transform    : rotate(270deg);
    -o-transform     : rotate(270deg);
}

.progress1 .card1 .percent1 svg circle {
    width            : 100%;
    height           : 100%;
    fill             : transparent;
    stroke-width     : 2;
    stroke           : #0A2D55;
    transform        : translate(5px, 5px);
    -webkit-transform: translate(5px, 5px);
    -moz-transform   : translate(5px, 5px);
    -ms-transform    : translate(5px, 5px);
    -o-transform     : translate(5px, 5px);
}

.progress1 .card1 .percent1 svg circle:nth-child(2) {
    stroke           : var(--clr);
    stroke-dasharray : 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) /100);
    opacity          : 0;
    animation        : fadeIn 1s linear forwards;
    animation-delay  : 2.5s;
    -webkit-animation: fadeIn 1s linear forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.dot1 {
    position : absolute;
    inset    : 5px;
    z-index  : 10;
    transform: rotate(calc(3.6deg * var(--num)));
    /*360deg/100=3.6*/
    animation: animateDot 2s linear forwards;

}

@keyframes animateDot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(calc(3.6deg * var(--num)));

    }
}

.dot1::before {
    content      : '';
    position     : absolute;
    top          : -5px;
    left         : 50%;
    transform    : translateX(-50%);
    width        : 10px;
    height       : 10px;
    border-radius: 50%;
    background   : var(--clr);
    box-shadow   : 0 0 10px var(--clr), 0 0 30px var(--clr);

}

.number1 {
    position       : absolute;
    inset          : 0;
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    opacity        : 0;
    animation      : fadeIn 1s linear forwards;
    animation-delay: 2.5s;

}

.number1 h2 {
    display        : flex;
    justify-content: center;
    align-items    : center;
    color          : #fff;
    font-weight    : 700;
    font-size      : 2.6em;
}

.number1 h2 span {
    font-weight: 300;
    color      : #fff;
    font-size  : 0.5em;
}

.number1 p {
    font-weight   : 300;
    font-size     : 0.75em;
    line-height   : 2px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color         : rgb(255, 255, 255, 0.75);
}

.hero {
    background-color: #021932;
    color           : #fff;
    padding-top     : 7.57rem;
    padding-bottom  : 5rem;
}
/* .hero-1 {
    background-image   : url('/image/Component.png');
    background-repeat  : no-repeat;
    background-position: top left;
    background-size    : contain;
    height             : 20rem;
    margin-bottom: 200px;

} */

img {
    max-width: 100%;
    height   : auto;
}

.nav-header{
    position        : fixed;
    top             : 15px;
    left            : 0;
    width           : 96%;
    padding         : 0.70rem 9%;
    padding-bottom  : 0;
    padding-top     : 5px;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    border-radius: 20px;
    margin-left: 20px;
    z-index         : 100;
    transition      : background-color 0.3s ease;

}
.nav-header.scrolled {
    background-color: rgb(5, 75, 107);
}

.logo {
    text-transform: uppercase;
    font-size      : 1.5rem;
    font-weight    : 600;
    color          : #fff;
    text-decoration: none;
    float          : left;
    cursor         : default;
    margin-left    : -75px;
}
.navbar1{
    margin-top:15px;
    margin-bottom: 5px;
    margin-left: -150px
}

.navbar1 ul li {
    display: inline-block;
    list-style: none;
    margin    : 0 5px;
    position  : relative;
}

.navbar1 ul li a {
    color          : #fff;
    text-decoration: none;
    text-transform : uppercase;
    font-weight    : bold;
    font-size      : 1vw;
    line-height    : 24px;
    text-align     : right;
    letter-spacing : 0.2px;
}

.navbar1 ul li ::after {
    content         : "";
    width           : 0;
    background-color: #00f7ff;
    height          : 2px;
    position        : absolute;
    left            : 0;
    bottom          : -3px;
    transition      : 0.2s;
}

.navbar1 ul li :hover::after {
    width: 100%;
}

.navbar1 ul li span{
    display: inline-block;
    position: absolute;
    color: #fff;
    background: #ff0606;
    border-radius: 0.5px;
    padding: 0 3px 0 3px;
    text-align: center;
    margin-left: 2px;
    height: 16px;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.1em;

}

.top1 {
    color         : #059297;
    font-size     : 1rem;
    letter-spacing: 0.20rem;
}

.top2 {
    font-size  : 2.79rem;
    font-family: sans-serif;
    line-height: 3.5rem;
    color      : #e7e3e3;
    font-weight: bold;
}

.top3 {
    padding-top: 5px;
    color      : #bebebe;
    font-size  : 1rem;
}

.about {
    display   : flex;
    padding   : 40px;
    background: #021932;
    color     : #fff;
}

.about-title {
    font-size     : 3rem;
    padding-bottom: 0.70rem;
}
.about-info a{
   position: relative;
   text-decoration: none;
   border: 3px solid #0cd8df;
   color: #fff;
   padding: 10px 20px;
   font-weight: 300;
   font-size: 1em;
   letter-spacing: 0.1em;
   border-radius: 10px;
   transition: 0.5s ;
}

.about-info a:hover {
    border    :3px solid var(--clr);
    box-shadow: 0 0 35px var(--clr);
    letter-spacing: 0.15em;
}

.skill-title h2 {
    display        : flex;
    justify-content: center;
    align-items    : center;
    color          : #fff;
    font-size      : 2rem;
    font-family    : "Roboto", sans-serif;
    font-weight    : 400;
}

.skill-title p {
    justify-content: center;
    align-items    : center;
    color          : #fff;
    padding        : 0.30rem 5rem 2rem 5rem;
    margin         : 0px 30px 5px 40px;
    font-weight    : 300;
    font-size      : 1rem;
    line-height    : 1.5rem;
    text-align     : center;
}

.skills h2 {
    margin-top    : 30px;
    margin-bottom : 10px;
    font-weight   : 300;
    font-size     : 0.75em;
    line-height   : 2px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color         : rgb(255, 255, 255, 0.75);

}

.progressBar {
    background   : #059297;
    width        : 90%;
    height       : 10px;
    border-radius: 5px;
}

.progressBar div {
    height       : 10px;
    border-radius: 5px;
    width        : 0;

}

.progressBar div span {
    height         : 30px;
    border-radius  : 50%;
    width          : 30px;
    background     : #021932;
    float          : right;
    margin-top     : -12px;
    margin-right   : -15px;
    color          : #fff;
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-size      : 0.67rem;
    box-shadow     : 0 0 10px var(--clr), 0 0 30px var(--clr);
}

.html {
    background       : #0fee35;
    animation        : html 1s linear forwards;
    -webkit-animation: html 1s linear forwards;
}

@keyframes html {
    100% {
        width: 90%;
    }
}

.php {
    background       : #c615d6;
    animation        : css 1s linear forwards;
    -webkit-animation: css 1s linear forwards;
}

@keyframes css {
    100% {
        width: 65%;
    }
}

.javascript {
    background       : #cc179f;
    animation        : javascript 1s linear forwards;
    -webkit-animation: javascript 1s linear forwards;
}

@keyframes javascript {
    100% {
        width: 80%;
    }
}

.flutter {
    background       : #00f7ff;
    animation        : flutter 1s linear forwards;
    -webkit-animation: flutter 1s linear forwards;
}

@keyframes flutter {
    100% {
        width: 75%;
    }
}

.react {
    background       : #1600d8;
    animation        : react 1s linear forwards;
    -webkit-animation: react 1s linear forwards;
}

@keyframes react {
    100% {
        width: 70%;
    }
}

.sql {
    background       : #d86100;
    animation        : sql 1s linear forwards;
    -webkit-animation: sql 1s linear forwards;
}

@keyframes sql {
    100% {
        width: 70%;
    }
}
.cloud{
    background: #a07ee0;
    animation: cloud 1s linear forwards;
    -webkit-animation: cloud 1s linear forwards;
}

@keyframes cloud {
    100% {
        width: 70%;
    }
}
.nocode{
    background: #e6ff04;
    animation: nocode 1s linear forwards;
    -webkit-animation: nocode 1s linear forwards;
}
@keyframes nocode {
    100% {
        width: 90%;
    }
}

.html span {
    border: 1.5px solid #0fee35;
}

.php span {
    border: 1.5px solid #c615d6;
}

.javascript span {
    border: 1.5px solid #cc179f;
}

.flutter span {
    border: 1.5px solid #00f7ff;
}

.react span {
    border: 1.5px solid #1600d8;
}

.sql span {
    border: 1.5px solid #d86100;
}
.cloud span{
    border:1.5px solid #a07ee0 ;
}
.nocode span{
    border:1.5px solid #e6ff04 ;
}

.brands {
    padding-top    : 20px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    color          : #fff;
    background     : #007496;
}

.brand {
    flex           : 1 0 0%;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.brand-title h2 {
    font-size  : 2rem;
    font-style : italic;
    font-weight: 600;
}

.brand-title h2 p {
    font-size: 1rem;
}

.brands-logo img {
    display       : flex;
    gap           : 2rem;
    width         : 100px;
    height        : 50px;
    aspect-ratio  : 10/5;
    object-fit    : contain;
    mix-blend-mode: color-burn;
}

.notice{
    background: #021932;
    padding: 3.5rem;

}
.notice .notice-tittle{
    justify-content: center;
    text-align: center;
}
.notice .notice-tittle a{
        position: relative;
        text-decoration: none;
        border: 3px solid #0cd8df;
        color: #fff;
        padding: 10px 20px;
        font-weight: 300;
        font-size: 1em;
        letter-spacing: 0.1em;
        border-radius: 10px;
        transition: 0.5s ;
     }
     
     .notice .notice-tittle a:hover {
         border    :3px solid var(--clr);
         box-shadow: 0 0 35px var(--clr);
         letter-spacing: 0.15em;
     }
.clutch{
    border-radius: 25px;
    margin-left: 65px;
}
.clutch-title {
    font-size     : 3rem;
    padding-bottom: 0.70rem;
}
.top-clutch a{
   position: relative;
   text-decoration: none;
   border: 3px solid #0cd8df;
   color: #fff;
   padding: 10px 20px;
   font-weight: 300;
   font-size: 1em;
   letter-spacing: 0.1em;
   border-radius: 10px;
   transition: 0.5s ;
}

.top-clutch a:hover {
    border    :3px solid var(--clr);
    box-shadow: 0 0 35px var(--clr);
    letter-spacing: 0.15em;
}
.awards1{
    padding-top: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}